.musics {
  font-family: Roboto, sans-serif;
}

.musics-page {
  display: flex;
  /* border: solid red; */
}

.musics-container {
  margin-top: 120px;
  width: 100%;
  /* border: solid red; */
}

.musics-info {
  text-align: center;
  margin-bottom: 40px;
  /* border: solid red; */
}

.musics-all {
  margin: auto;
  width: 60%;
  /* border: solid blue; */
}

.musics-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* border: solid red; */
}

.musics-list p {
  width: 50%;
  margin-left: 25px;
  /* border: solid red; */
}

.musics-list audio {
  width: 30%;
  /* border: solid red; */
}

.musics-list input {
  margin-right: 25px;
}
